
<main role="main">

<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <% if current_user %>
    <h1 class="display-3">Hello, <%= current_user.first_name %>!</h1>
    <%else%>
    <h1 class="display-3">Hello !</h1>
    <%end%>
    <p>This is a first attempt to make a copy of the main functionalities that the Eventbrite website offers</p>
    <p><a class="btn btn-primary btn-lg" href="<%= new_event_path %>" role="button">Créer un nouvel événement</a></p>
  </div>
</div>

<div class="card-deck">

    <% @events.each do |event|%>
      <div class="col-md-4">
        <div class="card m-4" style="height: 22rem">
          <div class="card-body">
            <h5 class="card-title"><%= event.title%></h5>
            <p class="card-text"><%= event.description%> </p>
            <p class="card-text text-muted">Se déroule à <%= event.location %></p>
            <p class="card-text"><%= event.admin.first_name%> <%= event.admin.last_name%></p>
          </div>
          <div class="card-footer">
            <a href="<%= event_path(event.id) %>" class="btn btn-primary">Voir détails de l'événement</a>
          </div>
        </div> 
      </div>
    <%end%> 

</div>

  <hr>

</div> <!-- /container -->

</main>


<footer class="container">
<p>© No copyright</p>
</footer>